*{
    box-sizing: border-box;
}
//colors
$dark-color: #283747 ;
$accent-color: #932432;
$light-color: #F3F3F3;

//fonts
$fs-h1: 2.5rem;
$fs-h2: 2rem;
$fs-h3: 1.5rem;
$fs-h4: 1.25rem;
$fs-body: 1rem;

$font-stack: 'Roboto', sans-serif;

$fw-normal: 400;
$fw-bold: 700;